<div class="conatainer pagebox">
<div class="row">
    <table class="table table-hover" *ngIf="teams && teams.length>0">
        <tr>
            <th>#</th>
            <th>Team</th>
            <th>Coach</th>
            <th>City</th>
            <th>Label</th>
        </tr>
        <tr class="dr" *ngFor="let team of teams;index as i">
                <td>{{i+1}}</td>
                <td>{{team.team}}</td>
                <td>{{team.coach}}</td>
                <td>{{team.city}}</td>
                <td>{{team.label}}</td>
            </tr>   

    </table>
</div>
</div>